/* .profileText{
  width:95%;
  float:left;
  padding-top: 10px;
}

.showname{
    border-bottom:2px solid black;
    float:left;
    width:100%;
    background-color: #EEF0F1;
    border-spacing: 2px;
}
#textid{
  font-style: oblique;
  align-content: center;
} */
.example-card {
  max-width: 200px;

}
.example-header-image {
   /*background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg'); */
  background-size: cover;
}
